html {
  background: -webkit-linear-gradient(45deg, rgb(218, 230, 253), rgb(82, 133, 182));
  background: -moz-linear-gradient(45deg, rgb(218, 230, 253), rgb(82, 133, 182));
  background: linear-gradient(45deg, rgb(218, 230, 253), rgb(82, 133, 182));  
}

body {
  margin: 50px auto auto;
  max-width: 900px;
  font-size: 18px;
}

.page-header {
  padding-top: 50px;
}

.title {
  width: 224px;
  text-align: center;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}

.text {
  display: block;
  justify-content: space-between;
}